// $brand-color: tomato;

// body{
//   background: white;
//   margin: 0;
// }
// h1, h2 {
//   color: $brand-color;
//   display: flex;
//   justify-content: center;
// }
// //navbar and dropdown styles
// nav {
//   background: peachpuff;
//   display: flex;
//   justify-content: space-between;
//   padding: 10px;
// }
//   .title {
//     margin: 0;
//   }


//   .dropdown {
//     margin: 0;
//   }

//   .navbar, .navbar-default{
//     display: block;
//   }
  .nav, .navbar-nav, .navbar-right:hover {
    color: lightgrey;
    cursor: pointer;
  }
  
  .caret {
    display: none;
  }
// card swipe styles
.master-root {
  // margin: 20px auto;
  background: grey;
  border-radius: 5px;
  border: 1px solid grey;
  height: 50px;
  min-height: 400px;
  max-height: 100px;
  padding: 0px 0px 10px 0px;
  position: relative;
  opacity: 0.6;
  overflow: hidden;
  width: 300px;
  
}

  .card {
  background: peachpuff;
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  transition: box-shadow .3s;
  width: 180px;
}

.card:hover {
  background: khaki;
}

.card-text-description {
  font-size: small;
  overflow-wrap: break-word;
}
.btn-poke{
  margin: 50px;

}
.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: green;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.alert-left {
  top: 0;
  left: 0;
  background: red;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alert-top {
  background: purple;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
  }

.alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;

}

//css style for pop up box
.popupbox {
  width:100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.popupbox[hidden] {
  display: none;
}

.popupbox-overlay {
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:1002;
  background: none repeat scroll 0% 0% #000;
}

.popupbox-content {
  overflow: hidden;
}

.popupbox-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  z-index: 1003;
  position: relative;
}

.popupbox-titleBar {
  overflow: hidden;
  display: block;
  position: relative;
}

.popupbox-btn--close {
  z-index: 1004;
}

.popupbox[data-title='bottom'] .popupbox-content { order: 1 }
.popupbox[data-title='bottom'] .popupbox-titleBar { order: 2 }

/* ----- default theme ----- */

.popupbox-wrapper {
  border-radius: 3px;
  overflow: hidden;
  max-width: 80%;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .9);
  background-color: white;
}

.popupbox-content {
  height: 300px;
  padding: 20px 24px 30px;
}

.popupbox-titleBar {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
  padding: 11px 37px 11px 24px;
  border-bottom: 1px #ccc solid;
}

.popupbox-btn--close {
  transition: all .5s;
  position: absolute;
  right: 11px;
  top: 11px;
  color: #c1c1c1;
  background: none;
  border: none;
  outline: none;
}

.popupbox-btn--close:hover {
  color: #000;
}

.popupbox.is-active {
  opacity: 1;
  pointer-events: auto;
}

.popupbox[data-title='bottom'] .popupbox-content { box-shadow: 0 1px 1px rgba(0, 0, 0, .3) }
.popupbox[data-title='bottom'] .popupbox-titleBar { box-shadow: none; border-top: 1px #ccc solid }

//popupbox button style
.popupbox-trigger:hover {
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  margin-top: -12px;
}

.popupbox-trigger {
  position: relative;
  transition: all .2s;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
  background-color: #263238;
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
  font-family: Raleway,Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,FreeSans,Arimo,Droid Sans,wenquanyi micro hei,Hiragino Sans GB,Hiragino Sans GB W3,sans-serif;
  font-size: 24px;
  padding: 12px 16px 16px;
  height: 60px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -116px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

//button within popupbox
.demo-button {
  bottom: 55px;
  display: block;
  margin-top: 8px;
  position: fixed;

}

//chat window styles
.chat-message {
  bottom: 86px;
  display: block;
  margin-top: 8px;
  position: fixed;
  width:250px;
}

.bordered-image {
  border: 3px solid black;
  width: 25%;
  height: 25%;
}

.matchmaker-container {
  display: flex;
  flex-direction: column;
}

.matchmakerEventAndChat-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
//chat window
//chat header for the chat window
.chatheaderClicked {
  background: darkgrey;
  width: 296px;
  position: relative;
  border-radius: 5px;
  z-index: 101;
  margin: 5px;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #616161;
  text-align: left;
  display: block;
  cursor: pointer;
  opacity: .9;
}

.messagelist {
  background: grey;
  border-radius: 5px;
  width: 310px;
  height: 230px;
  position: fixed;
  right: 49px;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  z-index:100;
  opacity: .9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition:  all 0.5s ease;
  -o-transition:  all 0.5s ease;
  transition:  all 0.5s ease;
}

.message {
  font-weight: bold;
  padding-left: 5px;
}

.messagelist.shown {
  bottom: 0px;
}

.messagelist.bottom {
  bottom: -183px;
}

#chatbar {
  background: #f8f8f8;
  border: grey solid 1px;  
  border-radius: 5px;
  position: absolute; 
  bottom: 4px;
  width: 300px;
  z-index: 101;
  right: 4px;
}

//matchmaker page styligs
#react-root {
  background: black;
  background-position: center;
  background-image: url(http://cdn.dota2.com/apps/dota2/images/international2017/overview/bg_battlepass.jpg); 
}

.slider-container {
  border-radius: 5px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.sliderSpace {
  width: 525px;
  margin: 30px;
}

.slideText{
  font-size: x-large;
  color: white;
  text-align: center;
  padding: 10px;
  width: 530px;
}
