<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">


  <title>Hello React</title>
</head>
<body>
  <div id="react-root"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src='http://localhost:<%=process.env.WEBPACK_DEV_PORT%>/bundle.js'></script>
</body>
</html>
